*{ font-family: arial, sans-serif;
  margin: 0;
}

body {
background-color:antiquewhite;
}

.animalList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100vh; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.puppies {
  display: flex;
  justify-content: center;
  align-items: center;   
  padding: 10px;
  border: 3px solid #ccc;
  margin-bottom: 10px;
  border-radius: 1rem;
  background-color: #f9f9f9;
  color: #333;
}

#dogImg {

  width: 200px;
  height: auto;
  border-radius: 10px;
}



